body {
	background-color: #B0C4DE;
	padding: 10px;
	padding-bottom: 35px
}

form {
	padding-bottom: 100px;
}

#footer {
	position: relative;
	padding-top: 5px;
	margin-top: -35px;
	height: 35px;
	clear: both;
	background-color: #27408b;
	text-align: center;
	color: white;
}

#email {
	text-align: left;
}

.navbar-default {
	background-color: #27408b;
	border-color: #27408b;
	height: 60px;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-family: 'Glegoo', serif;
}

.navbar-form {
	display: inline;
}

#searchSubmitButton{
	float:right;
}
 
.affix {
	top: 0;
	z-index: 99;
	width: auto;
	min-width: 450px;
}

#thankYou p {
	color: red;
	text-align: center;
	font-size: 250%;
	font-family: 'Pacifico', cursive;
	padding-top: 50px;
	padding-bottom: 50px;
}

#thankYou img {
	display: block;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

section {
	clear: both;
	display: block;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	overflow: auto;
}

#pending-content {
	display:block;
	background: #a1d0bd;
	padding: 10px;
	width: 70%;
}

#ownerPending {

	border-style: solid;
	border-width: 1px;
	width:auto;
	height:225px;
	
}

#adminCustomerName{
	width:100%;
}
#restaurantName{
	font-family: 'Glegoo', serif;
	font-size: 200%;
}

.restaurantDetails p{
	font-family: 'Glegoo', serif;
	font-size: small;
}

.add-on .input-group-btn>.btn {
	border-left-width: 0;
	left: -2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	position: relative;
}

.add-on .form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #cccccc;
}

.col-sm-6 {
	align: center;
	padding: 20px;
}

.col-sm-6 img {
	padding-top: 20px;
}

#btn_l {
	width: 100px;
}

#btn_r {
	width: 100px;
}

#formbox {
	margin: auto 0;
	text-align: center;
}

.jumbotron-billboard .img {
	margin-bottom: 0px;
	opacity: 0.2;
	color: #fff;
	background: #000 url(../img/columbus.jpg) center center;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.jumbotron {
	position: relative;
	padding: 50px;
}

.jumbotron .container {
	z-index: 2;
	position: relative;
	z-index: 2;
}

#imagesDetails {
	float: right;
	border-radius: 25px;
}

.col-lg-6 {
	padding: 20px;
}

.customButton {
    width: 300px !important;
    background: white;
    font-family: 'Pacifico', cursive;
}

.hlines {
	border-top: 3px double #8c8b8b;
}

#reviewForm {
	display: block;
}

#showReviewForm {
	padding-botom: 10px;
}

#currentUser p{
	color: white;
}

/* #logoutLink {
	float: right;
} */






/* stars for rating system */
 div.stars {
	width: 100%;
	display: inline-block;
}

input.star {
	display: none;
}

label.star {
	float: right;
	padding: 10px;
	font-size: 25px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
	color: #FD4;
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}


/* martinis for rating system */
div.martini {
	width: 100%;
	display: inline-block;
}

input.martini {
	display: none;
}

label.martini {
	float: right;
	padding: 10px;
	font-size: 25px;
	color: #444;
	transition: all .2s;
}

input.martini:checked ~ label.martini:before {
	content: '\f000';
	color: #fe1711;
	transition: all .25s;
}

input.martini-5:checked ~ label.martini:before {
	color: #fe1711;
	text-shadow: 0 0 20px #952;
}

input.martini-1:checked ~ label.martini:before {
	color: #fe1711;
}

label.martini:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.martini:before {
	content: '\f000';
	font-family: FontAwesome;
}

.ratings {
             float: left;
    		margin-right: 8px;
    		padding: 10px;
}
.reviewText {
            margin-left: 120px;
            font-family: 'Glegoo', serif;
}

#reviewTextContainer {
	width: 100%;
	display: inline-block;
}

.restaurantText {
	font-family: 'Glegoo', serif;
	font-size: 100%; 
}

.allRestaurantText {
	text-align: center;
	padding-top: 50px;
}

.dollarSigns {
	padding-bottom: 10px;
}




